#check {
    margin: 15px auto 15px auto;
}
.jumbotron {
    text-align: center;
    background-color: firebrick;
    border-style: solid;
    border-width: thick;
}
.jumbotron h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 50px;
}
h1 {
    color: ghostwhite;
}
.col-md-5 {
    text-align: center;
}
#results {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}
p {
    text-align: center;
}
body {
    font-family: 'Roboto', sans-serif;
}
#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}