#check {
    margin: 15px auto 15px auto;
}
.jumbotron {
    text-align: center;
    background-color: firebrick;
}
h1 {
    color: ghostwhite;
}
.col-md-5 {
    text-align: center;
}
#results {
    text-align: center;
}
p {
    text-align: center;
}